<div
  id="carouselExampleAutoplaying"
  class="carousel slide"
  *ngIf="topDeepHouseTracks.length > 0"
>
  <div class="carousel-inner" *ngFor="let track of topDeepHouseTracks">
    <div class="carousel-item active">
      <img
        src="https://image.tmdb.org/t/p/w500/1E5baAaEse26fej7uHcjOgEE2t2.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="slide-pane">
      <h2 class="title">{{ track.artist.name }}</h2>
      <div class="artist">{{ track.name }}</div>
      <div class="top-track-position">
        Ranking:
        {{ track["@attr"]["rank"] }}
      </div>
    </div>
  </div>
</div>

<div *ngIf="topDeepHouseTracks.length > 0">
  <div *ngFor="let track of topDeepHouseTracks">
    {{ track.name }}
    {{ track.artist.name }}
  </div>
</div>
data-bs-ride="carousel"
