<div
  id="carouselExampleAutoplaying"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="https://image.tmdb.org/t/p/w500/1E5baAaEse26fej7uHcjOgEE2t2.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="slide-pane">
      <h2 class="title">Song title</h2>
      <div class="artist">Artist name</div>
      <div class="release-date">20.06.2024</div>
    </div>
  </div>
</div>

<!-- <div *ngIf="topDeepHouseTracks.length > 0">
  <div *ngFor="let artist of topDeepHouseTracks">
    {{ artist.name }}
    {{ artist.artist.name }}
  </div>
</div> -->

<div *ngIf="topSashaTracks.length > 0">
  <div *ngFor="let artist of topSashaTracks">
    {{ artist.name }}
    {{ artist.artist.name }}
  </div>
</div>
