<div class="container-fluid text-left h-100" *ngIf="playlistItems.length > 0">
  <h1 class="top-tracks">Sasha latest Playlist</h1>

  <div class="row">
    <div
      class="col-12 col-sm-3 col-lg-3 col-xl-2 mt-2 mb-2"
      *ngFor="let item of playlistItems"
      
      target="_blank"
      rel="noopener noreferrer"
    >
      <div class="card h-100">
        <a href="{{ item.track.external_urls.spotify }}">
        <img
          [src]="item.track.album.images[0]?.url"
          class="card-img-top"
          alt="{{ item.track.name }}"
        />
      </a>
        <div class="card-body rounded-bottom-2">
          <h5 class="card-title">{{ item.track.name }}</h5>
          <p class="card-text">
            {{ item.track.artists[0].name }}
          </p>
          <div>
            <audio class="custom-audio" controls>
              <source [src]="item.track.preview_url" type="audio/mpeg" />
              Your browser does not support the audio element.
            </audio>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-sasha-top-tracks></app-sasha-top-tracks>
