<div class="container-fluid text-center">
  <div class="row bg-dark-subtle p-2">
    <div class="col-12 col-sm-2 bg-info">
      <a class="show-item">
        <div class="-show-item-title">
          <h3>Title</h3>
        </div>
        <div class="show-item-image">
          <img
            src="https://i.scdn.co/image/ab67616d0000b273fc8b921c52cb60c029607fec"
            alt=""
          />
        </div>
        <div class="show-item-artist">artist</div>
      </a>
    </div>
  </div>
</div>
