.top-tracks {
  color: blueviolet;
  margin-top: 20px;
}

a {
  text-decoration: none;
}
.card {
  border: 2px solid #999;
}

.card-body {
  background-color: #212121;
}
.card-title {
  color: white;
}
.card-text {
  color: white;
}
