.top-tracks {
  color: white;
  margin-top: 20px;
}

a {
  text-decoration: none;
}
.card {
  border: 2px solid #999;
}

.card-body {
  background-color: #212121;
}
.card-title {
  color: white;
}
.card-text {
  color: white;
  position: relative;
}
.custom-audio {
  width: 200px;
  height: 30px;
  position: absolute;
  left: 115px;
  bottom: 10px;
}
audio::-webkit-media-controls-enclosure {
  border-radius: 7px 7px 7px 7px;
  width: 125px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .custom-audio {
    width: 100px;
    height: 30px;
    position: absolute;
    left: 105px;
    bottom: 15px;
    border-radius: 7px 7px 7px 7px;
  }
}
@media only screen and (min-width: 330px) and (max-width: 460px) {
  .custom-audio {
    width: 100px;
    height: 30px;
    position: absolute;
    left: 300px;
    bottom: 15px;
    border-radius: 7px 7px 7px 7px;
  }
}
