<div class="track-picture" *ngIf="track$ | async as track">
  <div class="track-inner">
    <div class="track-item">
      <img [src]="track.album.images[0].url" class="img-fluid" alt="..." />
    </div>
    <div class="info-pane">
      <h2 class="title">
        <strong>{{ track.name }}</strong>
      </h2>
      <div class="artist"><strong></strong>{{ track.artists[0].name }}</div>
      <div>
        <audio controls>
          <source [src]="track.preview_url" type="audio/mpeg" />
          Your browser does not support the audio element.
        </audio>
      </div>
      <div>
        <button type="button" class="btn btn-light">
          <a
            href="{{ track.external_urls.spotify }}"
            target="_blank"
            rel="noopener noreferrer"
          >
            Play on Spotify</a
          >
        </button>
      </div>
      <div>
        <button type="button" class="btn whiteButton">
          <a routerLink="/music-list">Go Back</a>
        </button>
      </div>
    </div>
  </div>
</div>
